@page
@model AzureCognitiveServices.PredicaoModel
@{
    ViewData["Title"] = "Predição";
    var corDoAlerta = "danger";
    if(Model.PodePredizer)
        corDoAlerta = "info";
}

<h1>Predição Do Projeto @Model.Projeto?.Name</h1>

@if (Model.PodePredizer)
{
    <div class="row">
        <div class="col-6">
            <fieldset>
                <legend>Predizer com uma URL</legend>
                <form method="post">
                    <div class="form-group">
                        <label for="url">URL de uma imagem :</label>
                        <input type="url" class="form-control" name="url" id="url" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Predizer</button>
                </form>
            </fieldset>
        </div>

        <div class="col-6">
            <fieldset>
                <legend>Predizer com um arquivo</legend>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="arquivo">Arquivo de uma imagem:</label>
                        <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Predizer</button>
                </form>
            </fieldset>
        </div>
    </div>
}

@if (!(Model.Mensagens is null))
{
    @foreach (var mensagem in Model.Mensagens)
    {
        <div class="alert alert-@corDoAlerta alert-dismissible fade show" role="alert">
            @mensagem
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}