@page
@model AzureCognitiveServices.ComputerVisionModel
@{
    ViewData["Title"] = "Visão Computacional";
}

<h1>Visão Computacional</h1>

<br />
<h2>Descrever a imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <input type="hidden" value="legenda" id="analiseEscolhida" name="analiseEscolhida" />
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="legenda" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Categorizar a imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="categoria" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="categoria" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Gerar tags para a imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="tags" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="tags" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Verificar logos na imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="logos" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="logos" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Verificar rostos na imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="rostos" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="rostos" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Verificar conteúdo adulto ou sensível na imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="adulto" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="adulto" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Verificar esquema de cores na imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="cores" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="cores" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Verificar celebridades na imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="celebridades" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="celebridades" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Verificar pontos de referência na imagem</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="landmark" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="landmark" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

<br />
<br />
<h2>Analisar a imagem por completo</h2>
<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Testar com uma URL</legend>
            <form method="post">
                <div class="form-group">
                    <label for="url">URL de uma imagem:</label>
                    <input type="url" class="form-control" name="url" id="url" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="tudo" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>

    <div class="col-6">
        <fieldset>
            <legend>Testar com um arquivo</legend>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="arquivo">Arquivo de uma imagem:</label>
                    <input type="file" class="form-control-file" asp-for="Arquivo" id="arquivo" />
                </div>
                <button type="submit" class="btn btn-primary">Analisar imagem</button>
                <input type="hidden" value="tudo" id="analiseEscolhida" name="analiseEscolhida" />
            </form>
        </fieldset>
    </div>
</div>

@if (!(Model.Mensagens is null))
{
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal">@Model.AnaliseEscolhida</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var mensagem in Model.Mensagens)
                    {
                        <p>@mensagem</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}